@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800,900);

.wrapper {
    background-color: beige;
    font-family: Montserrat;
}

#inputSection {
    background-color: lightcoral;
    border: 7px solid rgb(240, 170, 170);
    padding-left: 10px;
    padding-bottom: 10px;
}

#inputTarea {
    margin: 7px;
}

#searchBar {
    background-color: rgb(250, 180, 180);
    border: 7px solid rgb(238, 196, 196);
}

.btnGuardar {
    cursor: pointer;
}

#tareaFila article {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}

#tareaFila article button {
    display: flex;
    margin-left: auto;
}

#tareaFila article.diaria {
    background-color: rgb(127, 255, 212);
    border-bottom: 1px solid black;
}

#tareaFila article.mensual {
    background-color: rgb(60, 181, 175);
    border-bottom: 1px solid black;
}

#tareaFila article.urgente {
    background-color: tomato;
    border-bottom: 1px solid black;
}